.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-div{
    width:50%;
    padding-left: 10%;
    margin-top: 20px;
}
.top-div h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.hire-me-button{
    /*background-color: orange;*/
    background-image: linear-gradient(orange,tomato);
    color: white;
    text-decoration: none;
    padding:10px 40px;
    border-radius: 5px;
    font-weight: 700;
}
.top-div img{
    width:80%;
}
.dream-big{
    padding-top: 20px;
}
.dream-big h1{
    font-size: 40px;
}
.exp h1{
    font-size: 50px;
}
.exp-area{
    width:40%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    box-shadow: 5px 5px 40px grey;

}
.exp-area h1{
    font-size: 40px;
}
#web_developer{
    border-left: 10px solid tomato;
    margin-left: 4%;
}
#baby_developer{
    border-left: 10px solid blue;
    margin-left: 4%;
}
footer p{
    text-align: center;
}